@import url(null.css);

body, header, footer {
  font-family: Commissioner;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  height: 100px;
  width: 100%;
  background-color: black;
}

.container_header {
  margin: 0 17%;
  width: 66%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 222px;
  display: flex;
  align-items: center;  
  justify-content: start;
}

.logo_name {
  font-size: 32px;
  font-weight: 600;
  color: white;
}
.nav {
  margin: 40px auto 40px 0;
  width: 100%;
  color: white;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav ul {
  display: flex;
  gap: 30px;
  justify-content: end;
}

.nav ul li {
  font-weight: 500;
  font-size: 20px;
}

.blue_block {
  padding-bottom: 100px;
  background-color: #1bdada;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container_windows h1, h3 {
  margin-top: 10px;
}
h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

.container_windows {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container_windows .link_download {
  margin-top: 100px;
}

.button_download a {
  display: flex;
  align-items: center;
}

.button_download {
  background-color: black;
  width: 300px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.button_download p {
  font-size: 30px;
  font-weight: 500;
  color: white;
  margin-left: 15px;
}

.button_download img {
  width: 70px;
  height: 70px;
  margin-left: 25px;  
}

.link_download {
  text-decoration: none;
}

.white_block {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white_block p {
  font-size: 30px;
}

.container_android > p {
  font-weight: 500;
}

.container_android {
  display: flex;
  align-items: center;
}

.white_block .button_download {
  margin-left: 30px;
}

.grey_block {
  padding: 100px 0;
  background-color: #2f2f2f;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container_crossplatform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
  padding-bottom: 100px;
}

.container_crossplatform img {
  width: 200px;
}

.container_crossplatform h2 {
  color: white;
  margin-left: 30px;
  font-weight: bold;
}

.list_platforms {
  width: 70%;
  margin-left: 15%;
}

.list_platforms ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.list_platforms li {
  color:#1bdada;
  font-weight: bolder;
}

.footer {
  background-color: black;
  color: white;
  height: auto;
}

.container_footer {
  padding-top: 70px;
  margin: 0 17%;
  display: flex;
  width: 66%;
}

.links {
  justify-content: center;
  display: flex;
  gap: 10%;
  width: 100%;
  margin-top: 40px;
}

.links_name {
  color: #979797;
  font-family: Commissioner;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.links ul li {
  margin-top: 30px;
  font-size: 16px;
}

.container_footer .logo {
  height: 100px;
}

.links a {
  text-decoration: none;
  color: white;
}

.social {
  display: flex;
  justify-content: end;
  margin-top: 60px;
  gap: 2%;
}

.social img:hover {
  transition: filter 0.5s;
  filter: brightness(0.7);
}

.social img {
  margin-left: 20px;
  transition: filter 0.5s;
}

.list_documents ul {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  align-items: center;
}
.list_documents a {
  text-decoration: none;
  color: #777;
  font-family: Commissioner;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.list_documents {
  margin: 3% 10% 0 10%;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.copyright {
  align-self:last baseline;
}

#element::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #11a2a2;
}

