@import url(null.css);


.container {
    margin: 2% 25% 0 25%;
}
.logo img {
    width: 60px;
    height: 60px;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.methods {
    margin-top: 40px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.methods a {
    display: block;
    width: 40%;
    text-decoration: none;
    color: #000;
    font-size: 26px;
}

.google {
    align-self: center;
    height: 40px;
    border: 3px solid #000;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}
.google img {
    width: 30px;
}

.or {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #6F6F6F;
}
.or img {
        width: 150px;
}

.signupemail {
    font-size: 22px;
}

form {
    margin: 3% 10% 10% 10%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: start;
}

.field {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field input {
    width: 100%;
    height: 35px;
    border: 3px solid #6F6F6F;
    font-size: 16px;
    align-items: center;
    display: flex;  
    padding-left: 30px;
    font-weight: 600;
    color: #6F6F6F;
}

.appear {
    color: #6F6F6F;
    font-family: Commissioner;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-top: -20px;
}

input:focus, input:hover {
    color: black;
}

input[type=radio] {
    width: 20px;
}

.radiogroup {
    display: flex;
    align-items: center;
    gap: 30px;
}

.genre {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

input[type=radio]:checked {
    color: black;
}

.agreements {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 16px;
    font-weight: 400;
}

.agreement {
    display: flex;
    gap: 10px;
    align-items: baseline;
    width: 90%;
}

#link {
    color: #1bdada;
}

.privacy {
    width: 70%;
    margin: 0 15%;
    text-align: center;
}

input[type=submit] {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 50px;
    border-radius: 34px;
    background: #1BDADA;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    align-self: center;
}

input[type=submit]:hover {
    cursor: pointer;
}

.login {
    width: 100%;
    font-size: 18px;
    text-align: center;
}
