<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../images/logo-white.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/authorisation.css">
    <title>Authorisation</title>
</head>
<body id="element">
    <div class="header">
        <div class="logo">
            <a href="main.html">
                <img src="../images/logo-white.png" alt="logo">
            </a>
            <a href="main.html">
                Orphy
            </a>
            
        </div>
    </div>
    <div class="main">
        <div class="form">
            <div class="login">
                Log in to Orphy
            </div>
            <div class="container_data">
                <a class="google">
                    <img src="../images/google.png" alt="google">
                    Continue with Google
                </a>
                <div class="field">
                    Username
                    <input type="text" placeholder="Username">
                </div>
                <div class="field">
                    Password
                    <input type="password" placeholder="Password">
                </div>
                <div class="remember">
                    <input type="checkbox" name="remember" id="remember">
                    Remember me 
                </div>
                <input type="submit" value="Log in">
                <div class="forgot">
                    <a href="#" >Forgot your password?</a>
                </div>
                <div class="string">
                    <img src="../images/vector_grad_login.png" alt="vector">
                </div>
                <div class="signup">
                    Don't have an account? <a href="register.html">Sign up</a>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>