<!DOCTYPE html>
<html>
<head>
  <title>Download</title>
  <link rel="icon" href="../images/logo-white.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../css/download.css"> 
</head>
<body id="element">
    <div class="header">
        <div class="container_header">
            <a href="main.html">
                <div class="logo">
                    <img src="../images/logo-white.png" width="92" height="92" alt="логотип">
                    <div class="logo_name">
                        Orphy
                    </div>
                </div>
            </a>
            <div class="nav">
                <ul>
                    <a href="#"><li>Premium</li></a>
                    <a href="#"><li>Support</li></a>
                    <a href="download.html"><li>Download</li></a>
                    <a href="#"><li>|</li></a>
                    <a href="authorisation.html"><li>Sign in</li></a>
                    <a href="register.html"><li>Register</li></a>
                </ul>
            </div>
        </div>
    </div>
    <body>
        <div class="blue_block">
            <div class="container_windows">
                <h1>Download Orphy</h1>
                <h3>Listen to million songs and podcasts on your device</h3>    
                <div class="button_download">
                    <a class="link_download" href="#">
                        <img src="../images/windows.png" alt="Windows">
                        <p>Windows</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="white_block">
            <div class="container_android">
                <p>Take your music with you and on your mobile device tablet.</p>
                <div class="button_download">
                    <a class="link_download" href="#">
                        <img src="../images/play_store.png" alt="Android">
                        <p>Google play</p>
                    </a>
                </div>
            </div>  
        </div>
        <div class="grey_block">
            <div class="container_crossplatform">
                <img src="../images/cross_platform.png" alt="cross_platform">
                    <h2>One account, listen everywhere.</h2>
            </div>
            <div class="list_platforms">
                <ul>
                    <li>MOBILE PHONE</li>
                    <li>⚪</li>
                    <li>COMPUTER</li>
                    <li>⚪</li>
                    <li>A CAR</li>
                    <li>⚪</li>
                    <li>TABLET</li>
                    <li>⚪</li>
                    <li>WEB PLAYER</li>
                </ul>
            </div>
        </div>
    </body>
    <div class="footer">
        <div class="container_footer">
            <div class="logo">
                <img src="../images/logo-white.png" width="92" height="92" alt="логотип">
                <div class="logo_name">
                    Orphy
                </div>
            </div>
            <div class="links">
                <div class="company">
                    <div class="links_name">
                        COMPANY
                    </div>
                    <ul>
                        <li><a href="#">Work with us</a></li>
                        <li><a href="#">For the record</a></li>
                    </ul>
                </div>
                <div class="communities">
                    <div class="links_name">
                        COMMUNITIES
                    </div>
                    <ul>
                        <li><a href="#">For performers</a></li>
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">Investors</a></li>
                        <li><a href="#">Providers</a></li>
                    </ul>
                </div>
                <div class="usefull_relationships">
                    <div class="links_name">
                        USEFULL RELATIONSHIPS
                    </div>
                    <ul>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Web Player</a></li>
                        <li><a href="#">Free mobile app</a></li>
                    </ul>
                </div>
            </div>
            <div class="social">
                <a href=""><img src="../images/vk.png" alt="vk"></a>
                <a href=""><img src="../images/telegram.png" alt="tg"></a>
                <a href=""><img src="../images/email.png" alt="mail"></a>
            </div>
        </div>
        <div class="list_documents">
            <ul>
                <a href="#"><li>Legal Information</li></a>
                <a href="#"><li>Privacy Center</li></a>
                <a href="#"><li>Privacy Policy</li></a>
                <a href="#"><li>Coockie Settings</li></a>
                <a href="#"><li>About ADS</li></a>
                <a href="#"><li>Accessibility</li></a>
            </ul>
            <div class="copyright">© 2023 Orphy</div>
        </div>
    </div>
</body>
</html>