<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../images/logo-blue.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/register.css">
    <title>Document</title>
</head>
<body id="element">
    <div class="container" >
        <div class="logo">
            <a href="main.html">
                <img src="../images/logo.png" alt="logo">
                Orphy
            </a>
        </div>
        <div class="methods">
            Sign up for free to start listening
            <a href="#">
                <div class="google">
                    <img src="../images/google.png" alt="google">
                    Sign up with Google
                </div>
            </a>
            <div class="or">
                <img src="../images/vector.png" alt="vector">
                or 
                <img src="../images/vector.png" alt="vector">
            </div>
            <div class="signupemail">
                Sign up with your email address
            </div>
        </div>
        <form action="">
            <div class="field">
                What's your email address?
                <input type="email" placeholder="Enter your email.">
            </div>
            <div class="field">
                Create a password
                <input type="password" placeholder="Create a password.">
            </div>
            <div class="field">
                What should we call you?
                <input type="text" placeholder="Enter a profile name.">
            </div>
            <div class="field">
                What's your date of birth?
                <input type="date">
            </div>
            <div class="field ">
                What's your genre?
                <div class="radiogroup">
                    <div class="genre">
                        <input type="radio" name="genre" id="radio1" value="male">
                        <label for="radio1">Male</label>
                    </div>
                    <div class="genre">
                        <input type="radio" name="genre" id="radio2" value="female">
                        <label for="radio2">Female</label>    
                    </div>
                    <div class="genre">
                        <input type="radio" name="genre" id="radio3" value="nts">
                        <label for="radio3">Prefer not to say</label>
                    </div>
                </div>
            </div>
            <div class="agreements">
                <div class="agreement">
                    <input type="checkbox" name="messages" id="checkbox1">
                    <div class="text">
                        <label for="checkbox1">I would prefer not to receive marketing messages from Orphy</label>
                    </div>
                </div>
                <div class="agreement">
                    <input type="checkbox" name="messages" id="checkbox2">
                    <div class="text">
                        <label for="checkbox2">Share my registration data with Orphy’s content providers for 
                            marketing purposes. Note that your data may be transferred to
                            a country outside of the EEA as described in our privacy policy.</label>
                    </div>
                </div>
                <div class="agreement">
                    <input type="checkbox" name="messages" id="checkbox3">
                    <div class="text">
                        <label for="checkbox3">I agree to the <a href="#" id="link">Orphy Terms and Conditions of Use.</a></label>
                    </div>
                </div>
            </div>
            <div class="privacy">
                To learn more about how Orphy collects, uses, shares and protects tour personal data
please see <a href="#" id="link">Orphy’s Privacy Policy.</a>
            </div>
            <input type="submit" value="Sign up" name="">
            <div class="login">
                Have an account? <a href="authorisation.html" id="link">Log in</a>.
            </div>
        </form>
    </div>
</body>
</html>